:root{
    --main-font: Roboto, sans-serif;
    --main-color: #2E2F42;
    --accent-color:#4D5AE5;
    --main-background-color:#fff;
    --slate-color:#434455;
    --light-color:#ffffff;
    --cornflower-color:#E7E9FC;
    --ocean-color: #404BBF;
    --cloud-color:#F4F4FD;
    --light-slate-color: #8E8F99;
    --green-color:#31D0AA;
    --modal-color:#FCFCFC;
    --black-color:#000000;
    --main-margin: 24px;
    --hover-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --modal-animation: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
body{
    font-family: var(--main-font);
    color: var(--main-color);
    background-color: var(--main-background-color);
    max-width: 1440px;
    margin: 0 auto;
}
.list{
    list-style: none;
}
.link {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    transition: color var(--hover-animation);
}
.link:hover,
.link:focus {
    color: var(--ocean-color);
}
.link:active{
    color: var(--ocean-color);
}
.btn{
    background:var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height:1.19;
    letter-spacing: 0.04em;
    color:var(--light-color);
    border: none;
    cursor: pointer;
}
.visually-hidden {
    width: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
    height: 1px;
}
.title-second{
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.title-third{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }
.text-descr{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color)
}
.section{
    padding: 120px 0;
    }
.container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p,ul{
    margin: 0;
    padding: 0;
}
img{
    display: block;
}
.centred{
margin: 0 auto;
}
 /* Header */
 .header{
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
 }
 .header-container{
    display: flex;
    align-items: center;
 }
.logo{
    font-family: 'Raleway', sans-serif;
    color:inherit;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.web{
    color:var(--accent-color);
}
.header-navigation{
    display: flex;
}
.header-list{
    margin-left:77px;
    display: flex;
}

.header-link{
    display: block;
    padding: var(--main-margin) 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.header-link.active{
    position: relative;
    color: var(--ocean-color);
}
.header-link.active::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean-color);
}
.header-item:not(:first-child){
margin-left: 40px;
}
.header-list-contacts {
    display: flex;
    margin-left: auto;
}
.contacts-item + .contacts-item{
margin-left: 40px;
}
.contacts-item{
    display: flex;
    align-items: center;
}
.header-contacts{
    display: block;
    padding: var(--main-margin) 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--slate-color);
    transition: color var(--hover-animation); 
}
.header-contacts:hover,
.header-contacts-focus{
    color: var(--ocean-color);
}
.contacts-icon{
    width:13px;
    height:15px;
    margin-right: 4px;
    fill: var(--slate-color);
    transition: fill var(--hover-animation);
}
.email{
    width: 20px;
    height: 18px;
}
.contacts-icon:hover,
.contacts-icon:focus{
    fill: var(--ocean-color);
}
/* Hero */

.hero{
background-color: var(--main-color);
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-image.jpg);
background-position: center;
background-size: cover;
text-align: center;
padding: 192px 0;
 } 

.hero-title{
    display: block;
    margin-bottom: 48px;
    max-width: 492px;
    font-weight: 500;
    font-size: 56px;
    line-height:1.07;
    letter-spacing: 0.02em;
    color:var(--light-color);
}
.hero-btn{
    padding: 19px 32px;
    transition: box-shadow var(--hover-animation), background-color var(--hover-animation);
}
.hero-btn:hover,
.hero-btn:focus{
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: var(--ocean-color);
}
/* .hero-btn:active{

} */

/* Section-advantages */
/* .advantages{

} */
.advantages-list {
    display: flex;
}
.advantages-list-item{
    max-width: 264px;
}
.thumb{
    background-color: var(--cloud-color);
    padding: 24px 100px;
    margin-bottom: 8px;
    border-radius: 4px;
}
.icon-advantages{
    width: 64px;
    height: 64px;
}
.advantages-title{
    margin-bottom: 8px;
}
.advantages-list-item:not(:last-child){
    margin-right: 24px;
}
/* .advantages-descr{

}  */
/* Section-Type-of-work */
.type-of-work{
padding-top: 0;
}
.type-of-work-title{
text-align: center;
margin-bottom: 72px;
}
.type-of-work-list{
display: flex;
}
.type-of-work-list-item:not(:last-child){ 
margin-right: var(--main-margin);
}
/* Section-Our team */
.team{
padding: 120px 0;
text-align: center;
background-color: var(--cloud-color);
}
.team-title{
margin-bottom: 72px;
}
.team-list{
display: flex;
flex-wrap: wrap;
margin-left: calc((-1) * var(--main-margin));
}
.team-list-item{
    margin-left: var(--main-margin);
    flex-basis: calc((100%/4)- var(--main-margin));
    background-color: var(--light-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-list:first-child{
    margin-left: 0;
}

.info-padding{
    padding: 32px 16px;
}
.team-list-title{
margin-bottom: 8px;
}
.team-list-descr{
margin-bottom: 12px;
}
.media-list{
    display: flex;
}
.media-list-item{
    width: 40px;
    height: 40px;
}
.media-list-item:not(:last-child){
    margin-right:var(--main-margin);
}
.media-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color var(--hover-animation);
}
.media-link:hover,
.media-link:focus{
    background-color: var(--ocean-color);
}
.icon-team{
    display: block;
    width: 16px;
    height: 16px;
    fill:var(--cloud-color);
}
/* Customers */
.customers{
    padding: 120px 0;
    text-align: center;
}
.customers-title{
    margin-bottom: 72px;
}
.customers-list{
    display: flex;
    
}
.customers-list-item{
    width: 168px;
    height: 88px;
}
.customers-list-item:not(:last-child){
    margin-right: var(--main-margin);
}
.customers-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-slate-color);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    color: var(--light-slate-color);
    transition: color var(--hover-animation), border var(--hover-animation);
}
.customers-link:hover,
.customers-link:focus{
    border: 1px solid var(--ocean-color);
    color: var(--ocean-color);
}
.customers-icon{
    display: block;
    width: 104px;
    height: 56px;
    fill: var(--light-slate-color);
    fill: currentColor;
    }
/* Footer */
.footer{
    background-color: var(--main-color);
    padding: 100px 0;
}
.footer-container{
    display: flex;
}
.footer-info{
    margin-right: 120px;
    max-width: 264px;
}
.footer-text{
    margin-top: 16px;
    color: var(--cornflower-color);
}
.logo-footer{
    color: var(--cloud-color);
}
.footer-soc{
    margin-right: 80px;
}
.footer-title{
    color: var(--light-color);
    font-size: 16px;
    margin-bottom: 16px;
}
.footer-list {
    display: flex;
}
.footer-list-item{
    width: 40px;
    height: 40px;
}
.footer-list-item:not(:last-child) {
    margin-right: 16px;
}

.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    max-height: 40px;
    width: 100%;
    height: 100%;
    transition: background-color var(--hover-animation);
}
.footer-link:hover,
.footer-link:focus{
    background-color: var(--green-color);
}
.footer-icon {
    display: block;
    width:24px;
    height:24px;
    fill: var(--cloud-color);
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-form-field {
    display: inline-block;
    width: 264px;
    margin-right: 24px;
}

.form-field-input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    
}

.form-field-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-form-btn{
    box-shadow: none;
    padding: 8px 64px 8px 24px;
    line-height: 1.5;
}
.footer-btn{
    position: relative;
}
.btn-form-icon{
    position: absolute;
    right: 24px;
    bottom: 8px;
    width: 24px;
    height: 24px;
    
}
/* Main of portfolio */
.portfolio-hero-list{
display: flex;
justify-content: center;
margin-bottom: 72px;
}
/* .portfolio-container{
} */
.portfolio-hero-list-item + .portfolio-hero-list-item{
margin-left: var(--main-margin);
}

.portfolio-hero-btn{
    padding: 8px 16px;
    background-color: var(--cloud-color);
    border: 1px solid var(--cornflower-color);
    border-radius: 4px;
    font-family:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    cursor: pointer;
    transition: box-shadow var(--hover-animation), background-color var(--hover-animation);
}

/* .btn-all{
    
}
.btn-website{
    
}
.btn-app{
    
}
.btn-design{
    
}
.btn-marketing{
    
} */
.portfolio-hero-btn:hover,
.portfolio-hero-btn:focus,
.portfolio-hero-btn:active{
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--light-color);
}
/* Section Gallery */
.gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc((-1) * var(--main-margin));
    margin-bottom: -48px;
}
.gallery-list-item {
    margin-left: var(--main-margin);
    flex-basis: calc((100%/3)- var(--main-margin));
    margin-bottom: 48px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.gallery-item-link {
    position: relative;
    display: block;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    transition: box-shadow var(--hover-animation);
}
.gallery-item-link:hover,
.gallery-item-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
.gallery-item-link:hover .overlay{
    transform: translateY(0);
}
.gallery-thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    transform: translateY(100%);
    transition: transform var(--hover-animation);

}
.card-padding{
    padding: 32px 52px 32px 16px;
    border-left: 0.5px solid #F4F4FD;
    border-top: 0.5px solid #F4F4FD;;
    border-right: 0.5px solid #F4F4FD;
}
.gallery-item-title {
    margin-bottom: 8px;
}

/* .gallery-item-descr {} */

.gallery-text-on-photo {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud-color);
    position: absolute;
    top: 40px;
    left: 32px;
    max-width: 296px;
}
/* Modal */
.backdrop{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: visibility var(--modal-animation), opacity var(--modal-animation);
}
.backdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 408px;
    min-height: 576px;
    background-color: var(--modal-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: opacity var(--modal-animation) 250ms, transform var(--modal-animation);
}
.backdrop.is-hidden .modal{
    transform: translate(0);
    opacity: 0;
}
.modal-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);;
    background-color: var(--cornflower-color);
    cursor: pointer;
    transition: background-color var(--hover-animation);
}
.modal-btn:hover,
.modal-btn:focus{
    background-color: var(--ocean-color);
}
.modal-icon{
    display: block;
    fill: var(--black-color);
    transition: fill var(--hover-animation);
}
.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon{
    fill: var(--light-color);
}
